/*************************************
Main layout styling
*************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
    font-size: 1rem;
    color: $primary-color;
    margin: 0;
    padding: 0;
}

.page-wrapper{
    width: 70%;
    background: #eee;
    margin: 0 auto;
    padding: 2rem;
    display:flex;
}
